
*{
  box-sizing:border-box;
}
body{
  font-family: "Hiragino Kaku Gothic ProN";
  margin:0;
}
a {
  text-decoration: none;
}
.container{
  width:100%;
  max-width:1200px;
  margin: 0 auto;
}
header{
  height:65px;
  width:100%;
  background-color:rgba(206, 220, 236, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}
.header-left{
  float:left;
  height:65px;
  }
.header-left p{
margin-top:20px;
font-size:20px;
font-weight:bold;
margin-left:20px;
}
.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 20px;
  display:none;
}
.header-right{
  float:right;
  line-height:65px;
  margin-right:20px;
}
.header-right a{
  line-height:65px;
  padding:0 25px;
  color:black;
  display:block;
  float:left;
}
.top-wrapper{
  padding:200px 0;
  background-image:url(field-g84643cf1b_1920.jpg);
  background-size:cover;
  color:white;
  text-align:center;
  letter-spacing:5px;
}
.top-wrapper h1{
  font-size:50px;
}
.aboutme-wrapper{
  background-color:beige;
  padding: 50px 0;
  width:100%;
}
.heading{
  text-align:center;
}
.pie-chart-001 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: conic-gradient(#2589d0 100%, #e2e2e2 100% 100%);
}

.pie-chart-001 span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size:16px;
}
.pie-chart-002 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: conic-gradient(#2589d0 20%, #e5e2e2 20% 100%);
}
.pie-chart-002 span {
  position: absolute;
  top: 25%;
  right: 25%;
  transform: translate(50%, -50%);
  color: #e0e5e1;
  font-weight: 600;
  font-size: 16px;
}
.skill-wrapper{
  padding:50px 0px;
  background-color: rgb(246, 246, 246);
  text-align:center;
}
.skill{
  float:left;
  width:33%;
  padding-right:2px;
}
.clear{
  clear:left;
}
.fa-desktop{
  padding-bottom:20px;
}
.fa-code{
  padding:60px 0;
}
.footer-wrapper{
  text-align:center;
  
  padding-top:10px;
  padding-bottom:10px;
}
footer{
  width:100%;
  background-color: #9aa19d;
}
